<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">{{title}}</a>
  <a routerLink="/add">
    <fa-icon [icon]="faPlusSquare" size="lg"></fa-icon>
  </a>
</nav>

<div class="list-group">
  <a *ngFor="let machine of machines"
     class="list-group-item list-group-item-action"
     [routerLink]="['/database', { outlets: { edit: 'machine/' + [machine.id] } }]">
      <span class="badge badge-primary badge-pill">{{machine.id}}</span> {{machine.type}}
  </a>
</div>
